<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            Jackie and Ryan get married!
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-me">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse" id="collapse-me">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/wedding/" title="Wedding Details">Events</a></li>
                <li><a href="/about/" title="About the Couple">About Us</a></li>
                <li><a href="/details/" title="Logistics">Getting Here</a></li>                
                <li><a href="/rsvp/" title="RSVP">RSVP</a></li>
                <li><a href="/our-adventures/" title="Read about our adventures">Our Adventures</a></li>
                <li><a href="/blog/" title="Wedding Updates">Updates</a></li>
                <!-- <li><a href="/reading/" title="Personal Reading List">Reading</a></li> -->
            </ul>
        </div>
    </div>
</nav>
